# Copie este arquivo para .env e preencha os valores

# Django
SECRET_KEY=troque-por-uma-chave-longa-e-aleatoria
DEBUG=False
ALLOWED_HOSTS=seu-dominio.com,IP_DA_VPS
CORS_ALLOWED_ORIGINS=http://seu-dominio.com,https://seu-dominio.com
